@page "/contact"
<h3>Contact</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="border border-5 p-4">
            <h5>This application was written by Cisse</h5>
            <h5>For enquiries and suggestion</h5>
            <h5>Email : devcisse@outlook.com</h5>
            <h5>You can contribute to the project here <a href="https://github.com/DevCisse/Abarqu" target="_blank">GitHub</a> </h5>
            <h5>Find me on <img style="margin: 0 0.2em 0 0.1em; display: inline-block!important" src="https://www.hanselman.com/images/icon-twitter.png"> <a href="https://twitter.com/General__Cisse" target="_blank">Twitter</a></h5>
        </div>
    </div>

</div>

@code {

}
