@page "/contact"
<h3>Contact</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="border border-5 p-4">
            <h5>This App was written by Cisse</h5>
            <h5>Email : devcisse@outlook.com</h5>
            <h5>Find me on twiiter at <a href="https://twitter.com/General__Cisse">Cisse</a></h5>
        </div>
    </div>

</div>

@code {

}
