@page "/contact"
<h3>Contact</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="border border-5 p-4">
            <h5>This App was written by Cissse</h5>
        </div>
    </div>

</div>

@code {

}
